@import "./reset.scss";
@import "./pcStyle.scss";
// 开发pc时请使用 pcStyle.scss 开发移动站点时请使用index.scss

// 移动端
// font_dpr rem

// pc端
// font_fn bg_fn

//start
.app{
  .app_header{
  	background: url("../img/1_02.jpg") no-repeat center / cover;
    height: 1000px;
    .app_header_con{
      font-weight: bold;
    }
  }
}
